
body {
    
    width: 1000px;
    margin: 0 auto;
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}



